<div class="container text-center">
      <img src="/images/hangman.png" alt="Hangman">
    </div>

    <br><br>

    <form action='/' method=POST class = 'text-center'>
      <input type='submit' value='Play Game' class="btn btn-lg btn-primary">
    </form>
</div>